<div class="container py-4">
  <h1 class="mb-3">Lista Personas</h1>
  <a [routerLink]="['/']" class="text-decoration-none btn btn-info">Home</a>
  <table class="table table-striped table-bordered mt-3">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Edad</th>
      </tr>
    </thead>
    <tbody>
      @for (persona of personas; track $index) {
      <tr>
        <td>{{ persona.IdPersona }}</td>
        <td>{{ persona.Nombre }}</td>
        <td>{{ persona.Email }}</td>
        <td>{{ persona.Edad }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
